* {
  font-family: "Lato", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
nav {
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 2rem;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 1.5em;
  list-style: none;
}

nav ul a {
  text-decoration: none;
  color: #fd7f97;
}

.button {
  color: white;
  background-color: #fd7f97;
  padding: 0.5rem 1rem;
}

.display-logo {
  display: flex;
  margin-left: 0.5rem;
  align-items: center;
}

.logo {
  max-width: 5rem;
  max-height: 5rem;
}

.name {
  font-style: normal;
  font-weight: 800;
  font-size: 1.5em;
  text-decoration: none;
  color: #fd7f97;
}

.slogan {
  margin: 6rem auto;
  text-align: center;
  color: rgba(41, 41, 41, 0.88);
  font-style: normal;
  font-weight: 800;
  font-size: clamp(1.8em, calc(1em + 2.4vw), 3em);
  margin-bottom: 1em;
}

.introduce {
  margin: 0 auto;
  font-style: normal;
  font-weight: 200;
  font-size: clamp(1.125em, 2vw, 1.6em);
  text-align: center;
  color: #30343f;
}

.anim:hover::after {
  visibility: visible !important;
  transform: scaleX(1);
}

.anim::after {
  content: "";
  visibility: hidden;
  position: absolute;
  left: 0.6em;
  right: 0.6em;
  bottom: 0;
  height: 0.12em;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-duration: 0.2s;
  transition-property: transform;
}

.hamburger {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 1rem;
  top: 1rem;
  display: none;
}

.skill-container {
  display: flex;
  justify-content: center;
  gap: 2.5%;
  margin: 3em auto;
}

.trending-skills {
  background-color: #f8f8f8;
  width: 20%;
  text-align: center;
  padding: 15px 20px;
}

.images {
  width: 80%;
  margin: 0 10%;
}

.mob-text {
  display: none;
}

hr {
  width: 90%;
  background-color: #434650;
  border-width: 0px;
  height: 1px;
}

.works {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  margin: 1rem auto;
}

.works img {
  margin-top: 7rem;
}

.works div {
  background-color: rgb(190, 190, 190);
  padding-bottom: 4rem;
}

#work-1 {
  width: 40rem;
  max-width: 100%;
  height: auto;
  text-align: center;
  align-self: flex-start;
}

#work-2 {
  width: 40rem;
  max-width: 100%;
  height: auto;
  text-align: center;
  align-self: flex-end;
}

#work-3 {
  width: 40rem;
  max-width: 100%;
  height: auto;
  text-align: center;
  align-self: flex-start;
}

.work-label {
  text-align: center;
}

.typewriter {
  font-family: "Roboto Mono", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 800;
  font-size: clamp(1.8em, calc(1em + 2.4vw), 3em);
}

@media (max-width: 900px) {
  nav {
    display: none;
    background-color: #30343f;
    text-align: center;
    align-self: end;
    margin: 0;
  }
  .hamburger {
    display: block;
  }
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  nav ul {
    flex-direction: column;
  }
  nav.active {
    display: flex;
  }
  .button {
    background-color: transparent;
  }
  .desk-text {
    display: none;
  }
  .mob-text {
    display: block;
  }
}
@media (max-width: 600px) {
  .skill-container {
    flex-direction: column;
    gap: 1em;
  }
  .trending-skills {
    width: 70%;
    margin: 0 10%;
  }
}
